<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/perfil.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Dashboard.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="navbar bg-gray">

            <div>
                <div class="img-container mb-5">
                    <img src="~/images/logo.png" />
                </div>


                <div>
                    <div class="nav-group mb-4">
                        <label class="mb-2"> Menu </label>
                        <div class="group">
                            <div class="nav-item">
                                <a class="nav-link @((string)ViewData["Title"] == "Inicio" ? "active" : "none")" aria-current="page" asp-page="/Inicio">Inicio</a>
                            </div>
                            <div class="nav-item">
                                <a class="nav-link @((string)ViewData["Title"] == "Dashboard" ? "active" : "none")" asp-page="/Dashboard">Dashboard</a>
                            </div>
                        </div>
                    </div>

                    <div class="nav-group">
                        <label class="mb-2"> Otros </label>
                        <div class="nav-item">
                            <a class="nav-link @((string)ViewData["Title"] == "Perfil" ? "active" : "none")" asp-page="/Perfil">Perfil</a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="nav-item">
                <a class="nav-link dull" asp-page="/Login"> Cerrar sesión </a>
            </div>



        </div>
    </header>

    

    <div class="body-content">
        <div class="d-flex justify-content-between">
            <h1 class="title">
                @ViewData["Title"]
            </h1>
            <div class="d-flex align-items-center">
                <div>
                   Nombre
                </div>
                <div class="perfil-container">
                    <a asp-page="/Perfil">
                        <img src="~/images/profile.jpeg" class="rounded-full" />
                    </a>
                </div>
            </div>
        </div>

        @RenderBody()
    </div>


    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2024 - Dashboard - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
