@page
@model Dashboard.Pages.PerfilModel
@{
    ViewData["Title"] = "Perfil";
    Layout = "Shared/_Layout.cshtml";

}



<div class="w-full py-10 px-20">
    <div class="perfil">
        <div class="container mr-3">

            <form method="post">
                <h2 class="subtitulo">
                    Datos generales
                </h2>
                <div class="line mb-4"></div>

                <div class="mb-3">
                    <div class="d-flex align-items-center">
                        <label class="form-label">Nombre</label>
                    </div>
                    <input asp-for="Nombre" type="text" value="@Model.Nombre" required disabled="@Model.IsUser"
                        class="form-control" />
                </div>

                <div class="mb-5">
                    <div class="d-flex align-items-center">
                        <label class="form-label">Correo Electrónico</label>
                    </div>
                    <input asp-for="Correo" type="text" value="@Model.Correo" required disabled="@Model.IsUser"
                        class="form-control" />
                </div>


                <h2 class="subtitulo mt-5">
                    Datos adicionales
                </h2>
                <div class="line mb-4"></div>

                <div class="mb-3">
                    <div class="d-flex align-items-center">
                        <label class="form-label">Usuario</label>
                    </div>
                    <input asp-for="Username" type="text" value="@Model.Username" class="form-control" />
                </div>

                <div class="mb-3">
                    <div class="d-flex align-items-center">
                        <label class="form-label">Red social o Linkedin</label>
                    </div>
                    <input asp-for="Red" type="text" value="@Model.Red" class="form-control" />
                </div>

                <div class="mb-3">
                    <div class="d-flex align-items-center">
                        <label class="form-label">Cumpleaños</label>
                    </div>
                    <input asp-for="Cumpleanios" type="date" class="form-control" value="@Model.CumpleaniosTxt"
                        min="1900-01-01" max="2025-12-31" />
                </div>

                <div class="mb-4">
                    <div class="d-flex align-items-center">
                        <label class="form-label">Bio</label>
                    </div>
                    <textarea asp-for="Bio" type="text" value="@Model.Bio" class="form-control"></textarea>
                </div>

                <button type="submit" class="btn btn-primary mt-5 mb-5">
                    Actualizar Perfil
                </button>

            </form>

        </div>


        <div class="container">

            <div class="mb-4">
                <h2 class="subtitulo">
                    Imagen de perfil
                </h2>
                <div class="line mb-4"></div>

                <div class="d-flex flex-column justify-content-center">
                    <div class="imgP-container mb-4">
                        <img src="~/images/profile.jpeg" class="rounded-full" />
                    </div>

                    <button type="submit" class="btn btn-primary mb-5">
                        Cambiar Imagen
                    </button>
                </div>
            </div>

            <div class="mb-4">
                <h2 class="subtitulo">
                    Contraseña
                </h2>
                <div class="line mb-4"></div>

                @if(Model.ErrorMessage != "") {
                <div class="alert alert-danger" role="alert">
                    @Model.ErrorMessage
                </div>
                }

                @if(Model.SuccessMessage != "") {
                <div class="alert alert-success" role="alert">
                    @Model.SuccessMessage
                </div>
                }

                <form method="post">
                    <div class="mb-2">
                        <label class="form-label">Anterior Contraseña</label>
                        <input asp-for="Contrasenia" type="password" class="form-control " />
                    </div>
                    <div class="mb-2">
                        <label class="form-label">Nueva Contraseña</label>
                        <input asp-for="NuevaContrasenia1" type="password" required class="form-control " />
                    </div>
                    <div class="mb-2">
                        <label class="form-label">Confirmar Contraseña</label>
                        <input asp-for="NuevaContrasenia2" type="password" required class="form-control " />
                    </div>

                    <button type="submit" class="btn btn-primary mt-5 mb-5">
                        Actualizar contraseña
                    </button>
                </form>
            </div>


        </div>
    </div>
</div>
